@import "@fontsource-variable/lora";
@import "@fontsource-variable/manrope";
@import "tailwindcss";

@theme {
  --color-foreground: #141f1f;
  --color-inverse: #f6f4ee;
  --color-background: #f6f4ee;
  --color-primary: #00573b;
  --color-secondary: #495c23;
  --color-accent: #FFBF00;
  --font-serif: "Lora Variable", serif;
  --font-sans: "Manrope Variable", sans-serif;
}